.ant-radio-button-wrapper {
    /* border-inline: 1px solid red !important; */
    border: 1px solid blue !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    border-start-start-radius: 0px !important;
    border-end-start-radius: 0px !important;
    border-start-end-radius: 0px !important;
    border-end-end-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-radio-button-wrapper:not(:first-child)::before {
    background-color: blue !important;
}